$mobile: "(max-width: 767px)";
$skiny: "(max-width: 500px)";
$flexScreen: "(min-width: 768px)";
$smallScreen: "(min-width: 768px) and (max-width: 921px)";
$mediumScreen: "(min-width: 922px) and (max-width: 1221px)";
$largeScreen: "(min-width: 1222px)";
$black: hsl(0, 0%, 0%);
$blackBg: hsla(0, 0%, 63%, 0.1);
$white: hsl(0, 0%, 100%);
$textColor: hsl(0, 0%, 63%);
$lightBg: hsl(0, 0%, 90%);
